.posts {
  width: auto;
  /* border: 1px solid #333; */
  padding: 20px;
}

.posts .tweet {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 30px;
}
.posts .tweet img {
  align-self: start;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.posts .tweet div {
  background-color: black;
  width: 100%;
}

.posts .tweet div form {
  width: 80%;
}

.posts .tweet div form textarea {
  background-color: transparent;
  width: 100%;
  height: 100px;
  color: #ddd;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;
  border: none;
}

.posts .tweet div form textarea:focus {
  border: none;
  outline: none;
}

.posts .tweet div form textarea::placeholder {
  color: #555;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.posts .tweet div form hr {
  border-color: #333;
  width: 100%;
}

.posts .tweet div form button {
  display: block;
  background-color: white;
  font-size: 22px;
  color: #333;
  margin-left: auto;
  display: block;
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 20px;
}
